<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ tr "title" }}</title>
        <link rel="stylesheet" href="{{ .__assets__ }}/style.css" />
    </head>
    <body>
        <div class="page">
            <img src="{{ .__assets__ }}/httpdf.png" alt="" />
            <h1>{{ .title }}</h1>
            <p>{{ tr "created_at" "date" .date }}</p>
            <ul>
                {{ range .list }}
                    <li>{{ .name }}: {{ printf "%.2f" .amount }}</li>
                {{ end }}
            </ul>

            <div>
                <h3>Env Info</h3>
                <p>
                    HOSTNAME: {{ env "HOSTNAME" | default "unknown" }}<br />
                    GOLANG_VERSION:
                    {{ env "GOLANG_VERSION" | default "unknown" }}<br />
                </p>
            </div>

            <div>
                <h3>i18n Info</h3>
                <p>
                    Locale:
                    {{ .__locale__ }}
                </p>
            </div>
        </div>
    </body>
</html>
