<html>
    <head>
        <meta charset="UTF-8" />
        <title>httpdf example document</title>
        <link rel="stylesheet" href="{{ .__assets__ }}/style.css" />
    </head>
    <body>
        <div class="page">
            <img src="{{ .__assets__ }}/httpdf.png" alt="" />
            <h1>{{ .title }}</h1>
            <p>Created at {{ .date }}</p>
            <ul>
                {{ range .list }}
                <li>{{ .name }}: {{ printf "%.2f" .amount }}</li>
                {{ end }}
            </ul>
        </div>
    </body>
</html>
